<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Знакомство с Vue.js</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div class="wrapper">
    <div id="app">
        <div class ="app_heder">
        {{ priority.title }}  {{ priority.value }}
        </div>
        <br/>
        <div>
            <p v-if="priority.value === 3">priority = 3</p>
            <p v-else-if="priority.value === 2 || priority.value ===1">Priority = 1 or 2</p>
            <p v-else>priority = 0</p>
        </div>
        <div class ="app_body">
            <button v-on:click="up">{{buttons.next.title}}</button>
            </br>
            <button v-if="priority.value > 0" v-on:click="down">{{buttons.prev.title}}</button>
        </div>
    </div>
</div>
<script>
    const App = {
        data() {
            return {
                priority: {
                    title: "Priority",
                    value: 0,
                    test: true,
                },
                buttons: {
                    prev: {
                        title: 'Down'
                    },
                    next: {
                        title: 'Up'
                    },
                },
            };
        },
        methods: {
            down () {
                if (this.priority.value >=1){
                    this.priority.value -=1
                }
            },
            up () {
                if (this.priority.value <= 2){
                    this.priority.value +=1
                }
            },
        }
    };
    Vue.createApp(App).mount('#app');
</script>
</body>
</html>